<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://camo.githubusercontent.com/368d4462c328f8b82ceec9a7ac2f9600afacb4d870120b12838f880488193666/68747470733a2f2f6f70656e6d6f6a692e6f72672f646174612f636f6c6f722f7376672f31463938382e737667"
          rel="icon"
          type="image/x-icon"/>
    <title>JAWS - Just Another Web Server</title>
    <link th:href="${utils.getPathFor('css/style.css')}" rel="stylesheet">
</head>
<body>
<header>
    <h1>JAWS - Just Another Web Server</h1>
    <p>This is the default page for JAWS. If you see this page, it means that JAWS is running. <strong>Welcome!</strong>
    </p>
</header>
<hr/>
<main>
    <ul class="menu-list">
        <p>JAWS documentation</p>
        <li><a th:href="@{/docs}">Documentation</a> - The documentation for JAWS</li>
        <li><a th:href="@{/backoffice/login.html}">Backoffice</a> - JAWS Backoffice</li>
        <hr/>
        <p>Tools made with JAWS</p>
        <li><a th:href="@{/base64viewer.html}">Base64 Viewer</a> - A simple base64 viewer using a single HTML page</li>
        <li><a th:href="@{/pasteit}">Pasteit</a> - A simple pastebin, using DB and API to store and retrieve pastes</li>
    </ul>
</main>

<script th:src="${utils.getPathFor('js/htmx.min.js')}" defer></script>
</body>
</html>
