<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Check if pagination data is available -->
<div th:if="${data.pagination != null}"
     th:replace="~{backoffice/components/table/table.html :: table-logs-with-pagination(
        ${data.headers},
        ${data.rows},
        ${data.caption},
        ${data.actions},
        ${data.pagination}
    )}"></div>

<!-- Fallback to regular table if no pagination data -->
<!--<div th:unless="${data.pagination != null}" -->
<!--     th:replace="~{backoffice/components/table/table.html :: table-logs(-->
<!--        ${data.headers},-->
<!--        ${data.rows},-->
<!--        ${data.caption},-->
<!--        ${data.actions}-->
<!--    )}"></div>-->
</body>
</html> 