<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://camo.githubusercontent.com/368d4462c328f8b82ceec9a7ac2f9600afacb4d870120b12838f880488193666/68747470733a2f2f6f70656e6d6f6a692e6f72672f646174612f636f6c6f722f7376672f31463938382e737667"
          rel="icon"
          type="image/x-icon"/>
    <title>pasteit</title>
    <link th:href="${utils.getPathFor('pasteit/css/style.css')}" rel="stylesheet">
</head>
<body>
<div class="container" th:if="${bodyContent}" th:insert="~{${bodyContent}}"></div>
<div class="drag-overlay" id="drag-overlay">
    Drop file here
</div>

<script th:src="${utils.getPathFor('pasteit/js/htmx.min.js')}"></script>

</body>
</html>
