<div class="block block-embossed">
    <div id="todo-list">
        <!-- This div will be populated with the todo list -->
        <div hx-get="/todos" hx-target="#todo-list" hx-trigger="load">
            <img alt="Loading..." class="htmx-indicator" src="/img/loading.svg" width="100"/>
        </div>
    </div>

    <form hx-post="/todos" hx-swap="outerHTML" hx-target="#todo-list" id="todo-form">
        <input name="todo" placeholder="Enter a new todo" required type="text">
        <button type="submit">Add Todo</button>
    </form>
    <button hx-delete="/todos" hx-swap="outerHTML" hx-target="#todo-list">Delete All Todos</button>
</div>