:root {
    --background: #f2f2f2;
    --default-font-color: #4a4a4a;

}

body {
    margin: 5% auto;
    background-color: var(--background);
    color: #444444;
    font-size: 16px;
    line-height: 1.8;
    text-shadow: 0 1px 0 #ffffff;
    max-width: 73%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    border-bottom: 1px solid #444444;
    color: #444444;
    text-decoration: none;
}

a:hover {
    border-bottom: 0;
}

pre code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    background: var(--background);
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-divider {
    border-bottom: 1px solid #444444;
    margin: 10px 0;
}

@media (max-width: 575px) {
    .images-wrapper {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .images-wrapper {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}



